@page
@model RazorPageSample.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>@Model.Message</h1>

<form method="post" asp-antiforgery="true">
    <input type="text" placeholder="Search" name="Search" id="Search" />
    <input type="submit" value="Submit" />
</form>